In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('test.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [ ]:
df = pd.get_dummies(df, columns=['gender',	'race/ethnicity',
                            'parental level of education',
                            'lunch', 'test preparation course'], drop_first=True).astype(int)

In [ ]:
df

,math score,reading score,writing score,gender_male,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_standard,test preparation course_none
0,72,72,74,0,1,0,0,0,1,0,0,0,0,1,1
1,69,90,88,0,0,1,0,0,0,0,0,1,0,1,0
2,90,95,93,0,1,0,0,0,0,0,1,0,0,1,1
3,47,57,44,1,0,0,0,0,0,0,0,0,0,0,1
4,76,78,75,1,0,1,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,99,95,0,0,0,0,1,0,0,1,0,0,1,0
996,62,55,55,1,0,1,0,0,0,1,0,0,0,0,1
997,59,71,65,0,0,1,0,0,0,1,0,0,0,0,0
998,68,78,77,0,0,0,1,0,0,0,0,1,0,1,0
999,77,86,86,0,0,0,1,0,0,0,0,1,0,0,1

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
features = df.drop(columns=('math score'))
scaled_data = scaler.fit_transform(features)

In [ ]:
scaled_data

array([[ 0.19399858,  0.39149181, -0.96462528, ..., -0.4669334 ,
         0.74188112,  0.74674788],
       [ 1.42747598,  1.31326868, -0.96462528, ..., -0.4669334 ,
         0.74188112, -1.33914006],
       [ 1.77010859,  1.64247471, -0.96462528, ..., -0.4669334 ,
         0.74188112,  0.74674788],
       ...,
       [ 0.12547206, -0.20107904, -0.96462528, ..., -0.4669334 ,
        -1.34792485, -1.33914006],
       [ 0.60515772,  0.58901542, -0.96462528, ..., -0.4669334 ,
         0.74188112, -1.33914006],
       [ 1.15336989,  1.18158627, -0.96462528, ..., -0.4669334 ,
        -1.34792485,  0.74674788]])

In [ ]:
x = scaled_data
y = df['math score']

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
lin_model = LinearRegression()

In [ ]:
lin_model.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_pred = lin_model.predict(x_test)

In [ ]:
y_pred

array([76.3879697 , 58.88597004, 76.99026483, 76.85180448, 87.62737816,
       79.0140238 , 64.65460865, 53.00791885, 74.18471015, 49.21353815,
       52.94765047, 36.66906418, 67.9139255 , 52.27725558, 86.71848338,
       70.53070205, 51.95556639, 46.8314386 , 48.82375101, 52.72669531,
       73.88582984, 38.88612362, 57.38074421, 36.32839723, 78.14908978,
       81.79995075, 75.3849409 , 46.1184787 , 31.03596334, 49.90094972,
       65.98409138, 70.4116652 , 60.5061564 , 83.73986218, 84.43184961,
       46.07265627, 76.10135181, 70.20596817, 65.85782103,  3.76186106,
       78.49792748, 67.25291552, 67.97175998, 60.2734092 , 79.67385074,
       67.60005539, 72.24589185, 24.76000748, 85.95581153, 70.08842684,
       75.41268803, 66.79864565, 81.16502181, 45.6635254 , 66.11051928,
       67.32545668, 86.13600492, 58.72739768, 82.23614367, 81.21768838,
       47.23421792, 72.04512129, 70.64302698, 55.92646405, 86.31798368,
       63.86663678, 59.48657443, 55.91061249, 57.20534331, 82.14529335,
       71.7699997 , 80.48800131, 58.37254249, 46.38271551, 61.23110052,
       85.00868631, 84.24763549, 60.29504754, 59.29079503, 53.21863924,
       63.67390126, 41.11157129, 78.88214466, 66.84103064, 75.31833494,
       54.83981972, 67.15234837, 63.82189712, 75.52303569, 25.62821483,
       73.94825388, 93.73515048, 62.58770738, 75.59475675, 29.38699024,
       70.73386967, 66.93187334, 61.92556713, 65.55791118, 55.20177526,
       75.58525549, 65.95258762, 60.78523045, 58.22323456, 73.69255355,
       69.03108155, 53.43168552, 79.78812987, 69.95962427, 48.24398402,
       34.75888574, 73.57987373, 61.02255528, 55.44111787, 76.06527502,
       62.30119887, 50.03966166, 50.41456346, 72.47871292, 78.5740347 ,
       59.65296718, 53.46106773, 86.88463283, 63.62352914, 60.48911247,
       69.56999884, 67.61786834, 65.95349122, 48.91443961, 72.2650211 ,
       74.04028673, 76.00676728, 45.18827584, 88.2500252 , 63.41762788,
       33.49612649, 77.41830126, 80.67922222, 73.64586103, 39.17339666,
       49.59104603, 59.64985162, 58.94567985, 53.90806788, 77.58246012,
       46.96198062, 43.09459912, 76.52721488, 57.24860962, 79.21480841,
       74.99715605, 76.2557111 , 65.66853346, 59.54629188, 84.86974981,
       73.3355475 , 43.8021998 , 62.85429878, 75.93245533, 51.92100812,
       62.03949307, 65.03337151, 70.28496267, 53.88034365, 89.12694975,
       70.96403647, 49.52051633, 92.67984324, 60.67159844, 72.1160923 ,
       83.08768858, 79.12026636, 80.44677214, 69.87534158, 57.47299365,
       23.71788008, 59.19704574, 64.835207  , 91.76004359, 67.11752378,
       61.52335861, 59.86061451, 81.91071454, 60.129492  , 93.33460827,
       68.30759036, 63.21362158, 58.57367017, 71.1787559 , 89.12325804,
       52.72500029, 61.19295573, 66.97539131, 65.70059223, 54.11620448,
       43.40914918, 62.15221448, 67.88839463, 67.0222873 , 62.34513246])

In [ ]:
from sklearn.metrics import r2_score, accuracy_score, precision_score, f1_score, roc_auc_score, log_loss, confusion_matrix
r2_score(y_test, y_pred)

0.8804332983749565

In [ ]:
import joblib

joblib.dump(lin_model, 'modelr.pkl')
joblib.dump(scaler, 'scalerr.pkl')

['scalerr.pkl']

In [ ]:
df = df.rename(columns={'reading score': 'reading_score'})
df = df.rename(columns={'race/ethnicity_group B': 'race_ethnicity_group_B'})
df = df.rename(columns={'race/ethnicity_group C': 'race_ethnicity_group_C'})
df = df.rename(columns={'race/ethnicity_group D': 'race_ethnicity_group_D'})
df = df.rename(columns={'race/ethnicity_group E': 'race_ethnicity_group_E'})
df = df.rename(columns={"parental level of education_bachelor's degree": "parental_level_of_education_bachelor's_degree"})
df = df.rename(columns={'parental level of education_high school': 'parental_level_of_education_high_school'})
df = df.rename(columns={"parental level of education_master's degree": "parental_level_of_education_master's_degree"})
df = df.rename(columns={'parental level of education_some college': 'level_of_education_some_college'})
df = df.rename(columns={'parental level of education_some high school': 'parental_level_of_education_some_high_school'})
df = df.rename(columns={'test preparation course_none': 'test_preparation_course_none'})

In [ ]:
df.columns

Index(['math score', 'reading_score', 'writing_score', 'gender_male',
       'race_ethnicity_group_B', 'race_ethnicity_group_C',
       'race_ethnicity_group_D', 'race_ethnicity_group_E',
       'parental_level_of_education_bachelor's_degree',
       'parental_level_of_education_high_school',
       'parental_level_of_education_master's_degree',
       'level_of_education_some_college',
       'parental_level_of_education_some_high_school', 'lunch_standard',
       'test_preparation_course_none'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   math score                                     1000 non-null   int64
 1   reading_score                                  1000 non-null   int64
 2   writing_score                                  1000 non-null   int64
 3   gender_male                                    1000 non-null   int64
 4   race_ethnicity_group_B                         1000 non-null   int64
 5   race_ethnicity_group_C                         1000 non-null   int64
 6   race_ethnicity_group_D                         1000 non-null   int64
 7   race_ethnicity_group_E                         1000 non-null   int64
 8   parental_level_of_education_bachelor's_degree  1000 non-null   int64
 9   parental_level_of_education_high_school        1000 non-null   int64
 10  parental_level_of_education_master's_degree    1000 non-null   int64
 11  level_of_education_some_college                1000 non-null   int64
 12  parental_level_of_education_some_high_school   1000 non-null   int64
 13  lunch_standard                                 1000 non-null   int64
 14  test_preparation_course_none                   1000 non-null   int64
dtypes: int64(15)
memory usage: 117.3 KB

In [ ]:
df

,math score,reading_score,writing_score,gender_male,race_ethnicity_group_B,race_ethnicity_group_C,race_ethnicity_group_D,race_ethnicity_group_E,parental_level_of_education_bachelor's_degree,parental_level_of_education_high_school,parental_level_of_education_master's_degree,level_of_education_some_college,parental_level_of_education_some_high_school,lunch_standard,test_preparation_course_none
0,72,72,74,0,1,0,0,0,1,0,0,0,0,1,1
1,69,90,88,0,0,1,0,0,0,0,0,1,0,1,0
2,90,95,93,0,1,0,0,0,0,0,1,0,0,1,1
3,47,57,44,1,0,0,0,0,0,0,0,0,0,0,1
4,76,78,75,1,0,1,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,99,95,0,0,0,0,1,0,0,1,0,0,1,0
996,62,55,55,1,0,1,0,0,0,1,0,0,0,0,1
997,59,71,65,0,0,1,0,0,0,1,0,0,0,0,0
998,68,78,77,0,0,0,1,0,0,0,0,1,0,1,0
999,77,86,86,0,0,0,1,0,0,0,0,1,0,0,1